<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stoobekta"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> 

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.stoobekta.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.stoobekta.ListObektiActivity"
            android:label="@string/title_activity_list_obekti" >
        </activity>
        <activity
            android:name="com.example.stoobekta.DetailedObektActivity"
            android:label="@string/title_activity_detailed_obekt" >
        </activity>
            <activity
            android:name="com.example.stoobekta.SiteInfoFragment"
            android:label="@string/title_activity_site_info_fragment" >
        </activity>
        <activity
            android:name="com.example.stoobekta.SiteCommentsFragment"
            android:label="@string/title_activity_site_comments_fragment" >
        </activity>
        <activity
            android:name="com.example.stoobekta.SitesWikiFragment"
            android:label="@string/title_activity_sites_wiki_fragment" >
        </activity>
        <activity
            android:name="com.example.stoobekta.SiteEventsFragment"
            android:label="@string/title_activity_site_events_fragment" >
        </activity>
    
    </application>

</manifest>
